
.login {
    background-color: #90ee90;
    height: 100vh;
    .title {
        color: #ffffff;
        line-height: 3.571429rem;
        font-size: 1.714286rem;
        background-color: #21b97a;
    }
}

