.title {
    height: 40px;
    font-weight: 600;
    font-size: 18px;
    line-height: 40px;
    padding-left: 10px;
    border-bottom: 1px solid #cecece;
}
.detail {
    padding: 1.428571rem .714286rem;
    display: flex;
    img {
        width: 8.928571rem;
    }
}